<!DOCTYPE html>
<html>
    <head>
        <title>Kacperowy blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Mój Blog</a></h1>
        </div>

        <div>
            <p>published: 03.07.2023, 16:15</p>
            <h2><a href="">Pierwszy post</a></h2>
            <p>Pierwszy wpis nie musi być o czymś konkretnym. Może to być kompletny stek bzdur.</p>
        </div>

        <div>
            <p>published: 04.07.2023, 12:14</p>
            <h2><a href="">Drugi post</a></h2>
            <p>To samo dotyczy drugiego posta. Jakieś bzdety oderwane od rzeczywistości.</p>
        </div>
    </body>
</html>