<!DOCTYPE html>
<html>
    <head>
        <title>Kacperowy blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Mój Blog</a></h1>
        </div>

        <div>
            {% for post in posts %}
                <div>
                    <p>published: {{ post.published_date }}</p>
                    <h2><a href="">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>

        <div>
            <p>published: 04.07.2023, 12:14</p>
            <h2><a href="">Drugi post</a></h2>
            <p>To samo dotyczy drugiego posta. Jakieś bzdety oderwane od rzeczywistości.</p>
        </div>
    </body>
</html>